<% if @user.errors.any? %>
  <ul>
    <% @user.errors.each do |e| %>
      <li>Your <%= e %> is invalid. Please try something else</li>
    <% end %>
  </ul>
<% end %>
<%= form_for @user, url: user_path(@user) do |f| %>
  Username:  <%= f.text_field :username, placeholder: 'Desired username' %><br><br>
  E-mail: <%= f.email_field :email, placeholder: 'email@company.com' %><br><br>
  Password: <%= f.password_field :password %><br><br>
  <%= f.submit %>
<% end %>
